body {
    margin: 0;
    padding: 0;
    background: #111111;

}
.btns {
  margin: 3% 20% 0 20%;
}
.author {
    display: flex;    
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
    margin: 10% 17% 0% 17%;
    color: rgb(129, 129, 129);
  box-shadow: -10px 10px 5px rgb(13, 13, 13);

    background-color: #1b1b1b; 
    border-radius: 15px;
    padding: 20px 0px 20px 0px;
    border: solid;
    border-top: 0;
    border-right: 0;
    border-width: 4px;
    border-color: #272727;
}

.author-info {
    max-width: 1000px;
    display: flex;
    box-shadow: -10px 10px 5px rgb(15, 15, 15);
    
    flex-direction: column;
    border: solid  rgb(70, 123, 65);
    border-radius: 11px;
    outline: 0;
    border-width: 3px;
    border-right: 0;
    border-top: 0;
    flex: 1 0 min-content;
    margin: 0 0 0 0;
    padding: 0 0 0 7px;
}
.author-info-text {
  flex: 1 1 max-content;
  align-self: top;
}
.nickname {
    font-family: 'Source Code Pro';
    font-size: xx-large;
    margin: 0;
    color:#B7EFC5;
}
.name {
    color: #6ed387;
    font-size: x-large;
}
.description {
  margin: 5px 0 5px 0;
  color: #498b5a;
  font-size: large;
}
.link-list {
    display: block;
    list-style-type: none;
    padding: 0;
    margin: 0 0 0 0;
}
.link-list2 {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.links {
    align-self: bottom;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
.li {
  display: flex;
  
  font-family: 'Source Code Pro';
  font-size: large;
  margin: 1px 0;
}
.telegram-image {
    vertical-align: bottom;
    margin: 0 5px 0 0;
    width: 22px;
    height: 22px;
}
.gmail-image {
    vertical-align: bottom;
    margin: 0 5px 0 0;
    width: 25px;
    height: 25px;
}
.discord-image {
    vertical-align: bottom;
    margin: 0 5px 0 0;
    width: 25px;
    height: 25px;
}
.github-image {
    vertical-align: bottom;
    margin: 0 5px 0 0;
    width: 25px;
    height: 25px;
}
.steam-image {
    vertical-align: bottom;
    margin: 0 5px 0 0;
    width: 25px;
    height: 25px;
}
.discordServer-image {
    vertical-align: bottom;
    border-radius: 5px;
    margin: 0 5px 0 0;
    width: 25px;
    height: 25px;
}
.link-btn {
  --btn-default-bg: rgba(42, 42, 42, 0.377);
  --btn-padding: 2px 5px;
  --btn-hover-bg: rgb(50, 50, 50);
  border-radius: 5px;
  --btn-transition: .3s;
  --btn-letter-spacing: .01rem;
  --btn-animation-duration: 1.2s;
  --btn-shadow-color: rgba(0, 0, 0, 0);
  --btn-shadow: 0 2px 10px 0 var(--btn-shadow-color);
  --hover-btn-color: #ffffff;
  --default-btn-color: rgb(104,207,128);
  --font-size: 16px;
  /* 👆 this field should not be empty */
  --font-weight: 400;
  --font-family: 'Source Code Pro',monospace;
  /* 👆 this field should not be empty */
}
/* button settings 👆 */

.link-btn{
  box-sizing: border-box;
  padding: var(--btn-padding);
  display: flex;
  align-items:center;
  justify-content:left;
  color: var(--default-btn-color);
  font: var(--font-weight) var(--font-size) var(--font-family);
  background: var(--btn-default-bg);
  border: none;
  cursor: pointer;
  transition: var(--btn-transition);
  overflow: hidden;
  box-shadow: var(--btn-shadow);
}

.link-btn span{
  letter-spacing: var(--btn-letter-spacing);
  transition: var(--btn-transition);
  box-sizing: border-box;
  position: relative;
  background: inherit;
}

.link-btn span::before{
  box-sizing: border-box;
  position: absolute;
  content: "";
  background: inherit;
}

.link-btn:hover, .link-btn:focus{
  background: var(--btn-hover-bg);
}

.link-btn:hover span, .link-btn:focus span{
  color: var(--hover-btn-color);
}

.gmail-btn:hover span::before, .gmail-btn:focus span::before{
  animation: chitchat1 linear both var(--btn-animation-duration);
}
.telegram-btn:hover span::before, .telegram-btn:focus span::before {
  animation: chitchat2 linear both var(--btn-animation-duration);
}
.discord-btn:hover span::before, .discord-btn:focus span::before {
  animation: chitchat3 linear both var(--btn-animation-duration);
}
.github-btn:hover span::before, .github-btn:focus span::before {
  animation: chitchat4 linear both var(--btn-animation-duration);
}
.steam-btn:hover span::before, .steam-btn:focus span::before {
  animation: chitchat5 linear both var(--btn-animation-duration);
}
.discord-server-btn:hover span::before, .discord-server-btn:focus span::before {
  animation: chitchat6 linear both var(--btn-animation-duration);
}
@keyframes chitchat1 {
  0% {
    content: "#";
  }

  5% {
    content: ".";
  }

  10% {
    content: "^{";
  }

  15% {
    content: "-!";
  }

  20% {
    content: "#$_";
  }

  25% {
    content: "№:0";
  }

  30% {
    content: "#{+.";
  }

  35% {
    content: "@}-?";
  }

  40% {
    content: "?{4@%";
  }

  45% {
    content: "=.,^!";
  }

  50% {
    content: "?2@%";
  }

  55% {
    content: "\;1}]";
  }

  60% {
    content: "?{%:%";
    right: 0;
  }

  65% {
    content: "|{f[4";
    right: 0;
  }

  70% {
    content: "{4%0%";
    right: 0;
  }

  75% {
    content: "'1_0<";
    right: 0;
  }

  80% {
    content: "{0%";
    right: 0;
  }

  85% {
    content: "]>'";
    right: 0;
  }

  90% {
    content: "4";
    right: 0;
  }

  95% {
    content: "2";
    right: 0;
  }

  100% {
    content: "";
    right: 0;
  }
}
@keyframes chitchat2 {
  0% {
    content: "&";
  }

  5% {
    content: "<";
  }

  10% {
    content: "?4";
  }

  15% {
    content: "+(";
  }

  20% {
    content: "%)@";
  }

  25% {
    content: "5^?";
  }

  30% {
    content: "|;=/";
  }

  35% {
    content: "_f<}";
  }

  40% {
    content: "&',vd"
  }

  45% {
    content: "otw}%";
  }

  50% {
    content: "]w(9*";
  }

  55% {
    content: "_#8?$";
  }

  60% {
    content: "<{?8(";
    right: 0;
  }

  65% {
    content: "ulx|n";
    right: 0;
  }

  70% {
    content: "p%{;*";
    right: 0;
  }

  75% {
    content: "_?'b3";
    right: 0;
  }

  80% {
    content: "np.";
    right: 0;
  }

  85% {
    content: "_ob";
    right: 0;
  }

  90% {
    content: "8";
    right: 0;
  }

  95% {
    content: "1";
    right: 0;
  }

  100% {
    content: "";
    right: 0;
  }
}
@keyframes chitchat3 {
  0% {
    content: "$";
  }

  5% {
    content: "`";
  }

  10% {
    content: "'[";
  }

  15% {
    content: "5o";
  }

  20% {
    content: "c@b";
  }

  25% {
    content: "*@^";
  }

  30% {
    content: "8b*?";
  }

  35% {
    content: "'\^i";
  }

  40% {
    content: "l/]#";
  }

  45% {
    content: "&',vd";
  }

  50% {
    content: "p%{;*";
  }

  55% {
    content: "\;1}]";
  }

  60% {
    content: "@@bt";
    right: 0;
  }

  65% {
    content: "|{f[4";
    right: 0;
  }

  70% {
    content: "7s^%}";
    right: 0;
  }

  75% {
    content: "'1_0<";
    right: 0;
  }

  80% {
    content: "]]w";
    right: 0;
  }

  85% {
    content: "]>'";
    right: 0;
  }

  90% {
    content: "4";
    right: 0;
  }

  95% {
    content: "2";
    right: 0;
  }

  100% {
    content: "";
    right: 0;
  }
}
@keyframes chitchat4 {
  0% {
    content: "&";
  }

  5% {
    content: "<";
  }

  10% {
    content: "?4";
  }

  15% {
    content: "+(";
  }

  20% {
    content: "%)@";
  }

  25% {
    content: "5^?";
  }

  30% {
    content: "|;=/";
  }

  35% {
    content: "_f<}";
  }

  40% {
    content: "&',vd"
  }

  45% {
    content: "otw}%";
  }

  50% {
    content: "]w(9*";
  }

  55% {
    content: "_#8?$";
  }

  60% {
    content: "<{?8(";
    right: 0;
  }

  65% {
    content: "ulx|n";
    right: 0;
  }

  70% {
    content: "p%{;*";
    right: 0;
  }

  75% {
    content: "_?'b3";
    right: 0;
  }

  80% {
    content: "np.";
    right: 0;
  }

  85% {
    content: "_ob";
    right: 0;
  }

  90% {
    content: "8";
    right: 0;
  }

  95% {
    content: "1";
    right: 0;
  }

  100% {
    content: "";
    right: 0;
  }
}
@keyframes chitchat5 {
  0% {
    content: "*";
  }

  5% {
    content: "!";
  }

  10% {
    content: "4t";
  }

  15% {
    content: "l^";
  }

  20% {
    content: "b6*";
  }

  25% {
    content: "@e}";
  }

  30% {
    content: "w'v[";
  }

  35% {
    content: "@}-?";
  }

  40% {
    content: "?{4@%";
  }

  45% {
    content: "@*fo";
  }

  50% {
    content: "|8c%";
  }

  55% {
    content: "\;1}]";
  }

  60% {
    content: "?{%:%";
    right: 0;
  }

  65% {
    content: "|{f[4";
    right: 0;
  }

  70% {
    content: "<_zl";
    right: 0;
  }

  75% {
    content: "b>_@";
    right: 0;
  }

  80% {
    content: "{0%";
    right: 0;
  }

  85% {
    content: "f|%";
    right: 0;
  }

  90% {
    content: ";";
    right: 0;
  }

  95% {
    content: ",";
    right: 0;
  }

  100% {
    content: "";
    right: 0;
  }
}
@keyframes chitchat6 {
  0% {
    content: "#";
  }

  5% {
    content: "(v%%2@";
  }

  10% {
    content: "lx}@$!#!";
  }

  15% {
    content: "#sz!@%@";
  }

  20% {
    content: "%/|)'|S";
  }

  25% {
    content: "%x?*";
  }

  30% {
    content: "/r*x#";
  }

  35% {
    content: "(8$}y}+@";
  }

  40% {
    content: "!|.a+$aL";
  }

  45% {
    content: "'_i]u2](";
  }

  50% {
    content: "82:?qsn'$^.&(!";
  }

  55% {
    content: "_#$2?2!!_ra'|13";
  }

  60% {
    content: "}nw@;+f>t:8^$!D";
    right: 0;
  }

  65% {
    content: "d);8_6}@$^*";
    right: 0;
  }

  70% {
    content: "}38d1fu@$";
    right: 0;
  }

  75% {
    content: "'w<>7$";
    right: 0;
  }

  80% {
    content: "(^3#";
    right: 0;
  }

  85% {
    content: ";$<!";
    right: 0;
  }

  90% {
    content: "9s";
    right: 0;
  }

  95% {
    content: "k%";
    right: 0;
  }

  100% {
    content: "";
    right: 0;
  }
}
.author-img {
  width: 195px;
  height: 280px;
  border-radius: 20px;
}
.card {
  border: solid rgb(53, 53, 53);
  width: 195px;
  height: 280px;
  margin: 0 0 0 11px;
  flex: 0 0 content;
  align-self: center;
  background: rgba(55, 55, 55, 0.316);
  border-radius: 20px;
  border-top:0;
  border-width: 5px;
  box-shadow: -8px 8px 5px rgb(15, 15, 15);

 }

 button {
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 500;
  color: #ffffff80;
  text-shadow: none;
  background: transparent;
  box-shadow: transparent;
  border: 1px solid #ffffff80;
  transition: 0.5s ease;
  user-select: none;
}

#btn:hover,:focus {
  color: #ffffff;
  background: #4AD66D;
  border: 1px solid #4AD66D;
  text-shadow: 0 0 5px #ffffff,
              0 0 10px #ffffff,
              0 0 20px #ffffff;
  box-shadow: 0 0 5px #4AD66D,
              0 0 20px #4AD66D,
              0 0 50px #4AD66D,
              0 0 100px #4AD66D;
}
.preloader {
  /*фиксированное позиционирование*/
  position: fixed;
  /* координаты положения */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* фоновый цвет элемента */
  background: #111111;
  /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
  z-index: 1001;
}
.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

.spinner {
  width: 220px;
  height: 220px;
  margin: 25% auto 25% auto;
  animation: spinner-y0fdc1 4s infinite linear;
  transform-style: preserve-3d;
 }
 .spinner-author {
  width: 110px;
  height: 110px;
  animation: spinner-y0fdc1 10s infinite linear;
  transform-style: preserve-3d;
 }
 .cube {
  align-self: center;
  margin: 10px 5% 10px 0;
  flex: 0 1 120px;
 }
 .spinner > div, .spinner-author > div {
  background-color: #2c723e33;
  height: 100%;
  position: absolute;
  width: 100%;
  border: 4px solid #4db868;
 }

 .spinner div:nth-of-type(1) {
  transform: translateZ(-110px) rotateY(180deg);
 }
 .spinner-author div:nth-of-type(1)  {
  transform: translateZ(-55px) rotateY(180deg);

 }
 .spinner div:nth-of-type(2), .spinner-author div:nth-of-type(2) {
  transform: rotateY(-270deg) translateX(50%);
  transform-origin: top right;
 }
 
 .spinner div:nth-of-type(3), .spinner-author div:nth-of-type(3) {
  transform: rotateY(270deg) translateX(-50%);
  transform-origin: center left;
 }
 
 .spinner div:nth-of-type(4), .spinner-author div:nth-of-type(4) {
  transform: rotateX(90deg) translateY(-50%);
  transform-origin: top center;
 }
 
 .spinner div:nth-of-type(5), .spinner-author div:nth-of-type(5) {
  transform: rotateX(-90deg) translateY(50%);
  transform-origin: bottom center;
 }
 
 .spinner div:nth-of-type(6) {
  transform: translateZ(110px);
 }
 .spinner-author div:nth-of-type(6) {
  transform: translateZ(55px);

 }
  @keyframes spinner-y0fdc1 {
  0% {
   transform: rotate(45deg) rotateX(-180deg) rotateY(-180deg);
  }
 
  50% {
   transform: rotate(0deg)rotateX(0deg) rotateY(0deg);
  }
 
  100% {
   transform: rotate(-45deg)rotateX(180deg) rotateY(180deg);
  }
 }


 
 