body {
    margin: 0;
    padding: 0 25% 0 25%;
    background-image: url("Images/Website.jpg");
    background-position: end;
    background-size: cover;
}
.author {
    display: flex;
    margin: 10% 0 0 0;
    color: rgb(129, 129, 129);
    background-color: rgba(34, 34, 34, 0.459); 
    border-radius: 5px;
    padding: 2%;
    border: solid;
    border-width: 2px;
    border-color: rgb(29, 29, 29);
}
.author-img-div {
    display: inline-block;
    background-color: rgba(99, 99, 99, 0.548); 
    border-radius: 5px;
    border: solid;
    border-width: 2px;
    border-color: rgb(90, 90, 90);
}
.author-img {
    max-width: 100px;
    max-height: 150px;
    vertical-align: bottom;
}
.author-info {
    display: inline-block;
}
