body {
    margin: 0;
    padding: 10% 15% 10% 15%;
    background-image: url("Images/Website.jpg");
    background-position: end;
    background-size: cover;
}
.author-li {
    display: inline-block;
}
.author-links {

    display: inline-block;
    max-width: 900px;
    vertical-align: -40px;
    margin: 35px 25px 0 0;
    padding: 0;
}
.empty {
    color: rgba(0,0,0, 0);
}
.author-image {
    width: 200px;
    border: solid;
    border-width: 7px;
    border-radius: 10px;
    background-color: rgba(132, 132, 132, 0.35);
    border-color: rgba(112, 112, 112, 0.743);
}
.author-nickname {
    color: rgb(185, 185, 185);
    margin: 0;
}
.author-name {
    color: rgb(125, 125, 125);
    margin: 0;
}
.author-birthday {
    color: rgb(90, 90, 90);
    margin: 0 0 35px 0;
}
.author-li-information {
    display: inline-block;
    vertical-align: 50px;
    margin: 0;
}
.author-telegram {
    background: rgb(97, 160, 233);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}
.author-telegram:hover{
    background:rgb(255, 255, 255);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.author-discord {
    background: rgb(151, 132, 236);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}
.author-discord:hover {
    background:rgb(255, 255, 255);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.author-discord-server {
    background: linear-gradient(161deg, rgba(48,255,0,1) 0%, rgba(232,255,0,1) 72%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}
.author-discord-server:hover {
    background:rgba(255, 255, 255);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.author-github {
    background: rgb(227, 227, 227);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}
.author-github:hover {
    background:rgb(255, 255, 255);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.telegram-image {
    margin: 0 3px 0 0;
    vertical-align:baseline;
    width: 20px;
    height: 20px;
}
.discord-image {
    margin: 0 3px 0 0;
    vertical-align:baseline;
    width: 20px;
    height: 20px;
}
.risimo-image {
    margin: 0 3px 0 0;
    vertical-align:baseline;
    width: 20px;
    height: 20px;
    border-radius: 5px;
}
.steam-image {
    margin: 0 3px 0 0;
    vertical-align:baseline;
    width: 20px;
    height: 20px;
}
.gmail-image {
    margin: 0 3px 0 0;
    vertical-align:baseline;
    width: 20px;
    height: 20px;
}
.github-image {
    margin: 0 3px 0 0;
    vertical-align:baseline;
    width: 20px;
    height: 20px;
}
.author-email {
    background:rgba(232, 91, 96, 0.794);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.author-email:hover {
    background:rgb(255, 255, 255);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.author-steam {
    background:rgb(55, 60, 163);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.author-steam:hover {
    background:rgb(255, 255, 255);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.author-block {
    font-size: x-large;
    flex-direction: column;
    text-align: start;
    background-color: rgba(23, 23, 23, 0.711);
    color: rgb(124, 124, 124);
    font-family: 'Source Code Pro', monospace;
    border-radius: 10px;
    border: solid;
    border-width: 5px;
    border-color: rgb(23, 23, 23);
}
